@model RentACar.Web.ViewModels.EditVehicleListViewModel;
@{
    ViewData["VehicleFullName"] = $"{Model.Make} {Model.Model}";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">@ViewData["VehicleFullName"]</h3>
                <p class="text-danger mt-3">Are you sure you want to delete @ViewData["VehicleFullName"]</p>
            </div>
            <div class="card-footer">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="BranchId" />
                    <input type="hidden" asp-for="VehicleId" />
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a asp-controller="Vehicle" asp-action="Vehicles" asp-route-branchId="@Model.BranchId" class="btn btn-warning">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>