@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="text-center">
    <h1 class="display-4">Rent a car, enjoy your trip!</h1>
    <div class="rental-info">
        <div class="pickup-location-partial">
            <i class="fa-sharp fa-solid fa-location-dot fa-2xl" style="color: #bad7ee;"></i>
            <input autocomplete="off" data-hj-allow="true" placeholder="Pick-Up City" type="text" class="form-control" value="">
        </div>
        <input class="data-select" type="date" autocomplete="off"/> 
        <input class="data-select" type="date" autocomplete="off"/> 
        <button class="search-button">Search</button>
    </div>
</div>

