@{
    Layout = "_ErrorLayout"; 
}
<div class="not-found">
    <h1 class="not-found">Oops! Page Not Found!</h1>
    <p class="not-found">Sorry, the page you're looking for could not be found.</p>
</div>
