@{
	Layout = null;
	
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - RentACar</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/RentACar.styles.css" asp-append-version="true" />
</head>

<body class="server-error-body">
	<h1>Error 500!</h1>
	<div class="server-error">
		<h1 class="not-found">Oops! Something went wrong!</h1>
		<p class="not-found">Try to refresh this page or feel free to contact us if the problem persists.</p>
	</div>
</body>
