@using static RentACar.Common.EntityValidationConstants.Branch
@model RentACar.Web.ViewModels.SearchBranchViewModel;
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="text-center">
    <h1 class="display-4">Rent a car, enjoy your trip!</h1>
        <form asp-action="Index" method="post">
            <div class="rental-info">
                <div class="pickup-location-partial-plus-validation-messages">
                    <div class="pickup-location-partial">
                        <i class="fa-sharp fa-solid fa-location-dot fa-2xl" style="color: #bad7ee;"></i>
                        <input asp-for="City" class="form-control" placeholder="Pick-Up City..."/>
                    </div>
                    <div class="validation-message">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="pickup-date">
                    <input asp-for="PickUpDate" class="data-select" type="datetime-local" autocomplete="off" />
                    <span asp-validation-for="PickUpDate" class="text-danger"></span>
                </div>
                <div class="pickup-date">
                    <input asp-for="ReturnDate" class="data-select" type="datetime-local" autocomplete="off" />
                    <span asp-validation-for="ReturnDate" class="text-danger"></span>
                </div>

                <button type="submit" class="search-button">Search</button>
            </div>
        </form>
</div>
