html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-image: url(../img/background-image.jpg);
    background-size: 100vw 100vh;
}

div.row.text-center{
    background-color:black;
}

.navbar-brand {
    color: blueviolet;
}

header {
    background: rgb(64,218,254);
    background: radial-gradient(circle, rgba(64,218,254,1) 12%, rgba(16,0,246,1) 100%);
}

div.text-center {
    background: rgb(64,218,254);
    background: radial-gradient(circle, rgba(64,218,254,1) 12%, rgba(16,0,246,1) 100%);
    border-radius: 5em;
    box-shadow: 0px 4px 10px rgba(30, 60, 90, 0.4);
    height: 15em;
}

div.rental-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5em;
}

.pickup-location-partial {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    max-width: 15em;
    height: 3em;
}
   
div.rental-info p {     
    background-color: white;
}

i {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

input.form-control, select.form-control{
    border-radius:2em;
    border-color:white;
}

.data-select{
    border-radius: 1em;
    border-width: inherit;
    width:15em;
    height:3em;
}

button.search-button {
    border-radius: 1em;
    margin-bottom: 1em;
    border-width: inherit;
    background-color: white;
    width: 10em;
    height: 3em;
    transition: 0.2s;
}

button.search-button:hover {
    background-color: #da00f6;
    opacity: 2;
}

h1.display-4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.pickup-date{
    display:flex;
    flex-direction:column;
}

h1.found-branches-title, h2.found-branches-title {
    color: navajowhite;
    background: rgb(64,218,254);
    background: radial-gradient(circle, rgba(64,218,254,1) 12%, rgba(16,0,246,1) 100%);
    padding: 0.5em;
    font-weight: 700;
}

div.branches-index-wrapper{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
}
div.header{
    display:flex;
    justify-content:center;
    margin-top: 20px;
    margin-bottom:20px;
}

.bg-bluegradient {
    background: rgb(64,218,254);
    background: radial-gradient(circle, rgba(64,218,254,1) 12%, rgba(16,0,246,1) 100%);
}

div.filters{
    display:flex;
    flex-direction:column;
    background-color:cornflowerblue;
    width: 25vw;
    height: 63vh;
    margin-right: 5em;
}

div.filters-header{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    border-bottom:solid;
    border-color:bisque;
    align-items:baseline;
}

div.filters-header a{
    font-size:1.2em;
    color:blue;
    text-decoration:none;
}

div.apply-filters-button{
    display:flex;
    justify-content:center;
}

div.filters-body div h4{
    display:flex;
    justify-content:center;
}

div.filters-body{
    display:flex;
    flex-direction:column;
}

div.filters-body input{
    width:20px;
    margin-right:7px;
    margin-left:10px;
}

div.filters-body div div {
    display:flex;
    flex-direction:row;
}

div.vehicles-list div.vehicle img {
    height:11em;
    width: 10em;
    margin: 0em;
}

div.vehicle-list-wrapper{
    display:flex;
    flex-direction:row;
}

div.vehicles-list {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    overflow: scroll;
    height: 63vh;
    background-color: aliceblue;
    padding-inline: 2em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

div.vehicle{
    display:flex;
    flex-direction:row;
    border:solid;
    margin-bottom: 0.5em;
    background-color:white;
    margin-top:2em;
}

div.test {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    background-color: white;
    align-items: baseline;
}

div.vehicle-info{
    display:flex;
    align-content:space-evenly;
    flex-direction:column;
    flex-wrap:wrap;
    margin-left: 1em;
}

div.car-rental-info {
    display: flex;
    flex-direction: column;
    margin-left:2em;
    margin-right: 2em;
    justify-content:space-evenly;
}

div.home-h1{
    display:flex;
    justify-content:center;
    color:cornflowerblue;
}

#add-vehicle{
    color:chartreuse;
}

div.edit-car {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: space-between;
}

div.edit-car a{
    border:solid;
    border-color:black;
    margin-bottom:2.5em;
    border-radius:0.5em;
    text-decoration:none;
    color:white;
    background-color:darkred;
    padding-left:0.5em;
    padding-right:0.5em;
    margin-top:0.5em;
}

div.edit-car a:hover{
    border:solid;
    border-color:black;
    margin-bottom:2.5em;
    border-radius:0.5em;
    text-decoration:none;
    color:white;
    background-color:red;
    padding-left:0.5em;
    padding-right:0.5em;
    margin-top:0.5em;
}
div.vehicle-edit-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    background-color: white;
    align-items: baseline;
}

div.rental-wrapper {
    display: flex;
    flex-direction: column;
}

div.reservation {
    display: flex;
    border: solid;
    background-color: cornflowerblue;
    flex-direction:column;
    align-self:center;
    width:50vw
}

div.vehicle-img img {
    height: 12.6em;
    width: 20em;
    margin: 0em;
}
div.vehicle-img {
    margin:0.5em;
    align-self:center;
}

div.reservation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
p.rental-price{
    font-size:2em;
}
p.rental-price span {
    font-size: 1em;
    color:red;
}

div.reserve a{
    align-self:center;
}
div.reservation-box{
    background-color:white;
}

div.card h-100 bg-bluegradient{

}